/* global */
/* body , html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
} */

/* In this case I dont think I need a 80% width */
/* #main-container {
    width: 100%;
    height: 100%;
} */

html , body {
    margin: 0;
    padding : 0;
}

/* announcement section */
#announcement-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100%;
    /* padding: 10px; */
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

ol {
    display: flex;
    list-style: none;
    padding: 15px;
    margin-right: 20px;
}

li {
    cursor: pointer;
    padding: 0 10px;
}

li:hover {
    background-color: darkgray;
    border-radius: 8px;
}

#tesla-logo {
    width: 120px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
}

/* section 1 */
/* section {
    margin-top: -20px;
    padding-top: 30px;
} */

/* #section1 { */
    /* background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/e90a341e-f9ca-4aa1-8eab-94afea118786/bvlatuR/std/2880x1800/M3-Homepage-D'); */
    /* background-size: 100% 100%; */
    /* width: 100vw;
    height: 100vh;

    background-size: cover;
    background-position: top; */
/* } */

#section1 {
    background: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/e90a341e-f9ca-4aa1-8eab-94afea118786/bvlatuR/std/2880x1800/M3-Homepage-D') no-repeat center;
    height: 100vh;
    width: auto;
    background-size : cover;
}

.content-section {
    align-items: center;
    justify-content: center;
}

/* section a {
    background-color: coral;
    border-radius: 10px;
    height: 60px;
    width: 100px;
    color: cornsilk;
    text-decoration: none;
    padding: 10px;

} */

/* section 2 */
/* #section2 { */
    /* margin-top: -20px;
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70');
    width: 100vw;
    height: 100vh; */

    /* to have all the images fit the page, rise to the top
    and remove the whitespace that was forming below */
    /* background-size: cover;
    background-position: top;
    margin-top: -20px; */
/* } */

#section2 {
    margin : 0;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70");
    background-repeat: no-repeat;
    background-size : cover;
}

/* section 3 */
#section3 {
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/676da95d-942e-414c-8534-f1832f0d4ced/bvlatuR/std/3296x1798/ms-homepage-desktop');
    width: 100vw;
    height: 100vh;

    /* to have all the images fit the page, rise to the top
    and remove the whitespace that was forming below */
    background-size: cover;
    background-position: top;
    margin-top: -20px;
}

/* section 4 */
#section4 {
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/325743a2-d187-4e28-91a3-5a2e47e317f7/bvlatuR/std/2880x1800/ModelX-Homepage-D');
    width: 100vw;
    height: 100vh;

    /* to have all the images fit the page, rise to the top
    and remove the whitespace that was forming below */
    background-size: cover;
    background-position: top;
    margin-top: -20px;
}

/* section 5 */
#section5 {
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D');
    width: 100vw;
    height: 100vh;

    /* to have all the images fit the page, rise to the top
    and remove the whitespace that was forming below */
    background-size: cover;
    background-position: top;
    margin-top: -20px;
}

/* section 6 */
#section6 {
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/27ae57a3-3a1d-480c-b557-cd9caf51b96e/bvlatuR/std/2880x1620/solar-roof-hero-desktop?quality=70');
    width: 100vw;
    height: 100vh;

    /* to have all the images fit the page, rise to the top
    and remove the whitespace that was forming below */
    background-size: cover;
    background-position: top;
    margin-top: -20px;
}

/* section 7 */
#section7 {
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/2880x2400/Desktop-Accessories');
    width: 100vw;
    height: 100vh;

    /* to have all the images fit the page, rise to the top
    and remove the whitespace that was forming below */
    background-size: cover;
    background-position: top;
    margin-top: -20px;
}